.btn{
    margin: 0 5px;
}

.btn-new-post{
    color:white;
    background-color: var(--success);
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-new-post:hover{
    color:white;
    text-decoration: none;
}

.btn-import-post{
    color:white;
    background-color: var(--secondary-blue);
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-import-post:hover{
    color:white;
    background-color: var(--secondary-blue);
}

.total-post{
    color:var(--secondary-blue)
}

.main-blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.main-blog-container .card{
    margin: 10px;
    width: 100%;
    min-width: 230px;
    height: auto;
    min-height: 200px;
}


.container-search {
    display: inline-block;
    border: 1px solid var(--dark-gray);
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.5 ease-in-out;
    margin-bottom: 20px;
}

.container-search  input {
    border: 0;
    background-color: transparent;
    width: 200px;
}

.container-search input:focus {
    outline: none;
}

.container-search button, i {
    color: (--dark-gray);
    border: none;
    background: none;
    cursor: pointer;
}