

.main-about-us-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-blue);
}


.main-about-us-container--title h2{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-about-us-container--title p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--just-white);
}

.main-about-us-container--button{
    position: absolute;
    left: calc(50% - 80px);
    padding: 5px;
    width: 90px;
    background-color: var(--just-white);
    color:var(--dark-gray);
    text-align: center;
    border-radius: 5px;
}


.main-services-container--card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}

.main-services-container--card--image{
    width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 200px;
    background-image: url('../images/card-latest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-services-container--card--body{
    margin: 0px 40px 0px 0px;
}
.main-services-container--card--body p{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
    color: var(--dark-gray);
    text-align: justify;
}

.main-blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.main-blog-container .card{
    margin: 10px 0px;
    width: 100%;
    min-width: 230px;
    height: auto;
    min-height: 200px;
}

.main-blog-container--card--title{
    color:var(--warn-black);
}

.main-blog-container--date-posted{
    font-size: 1.2rem;
    font-weight: 500;
    color:var(--dark-gray);
}

.main-blog-container--message{
    font-weight: bold;
    text-align: center;
    color: var(--dark-gray);
}

.btn-read-more{
    background-color: var(--secondary-blue);
    color:var(--just-white);
}

@media(max-width: 480px){

    .main-about-us-container--image{
        display: none;
    }

    .main-about-us-container--title h2{
        font-size: 2rem;
        line-height: 1.9rem;
        text-align: center;
    }
    .main-about-us-container--title p{
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
        text-align: center;
    }


    .main-about-us-container--button{
        left: calc(50% - 45px);
       margin-top: 10px;
    }

    .main-services-container--card--image{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }
    
    .main-services-container--card--body{
        margin: 0px;
    }
    .main-services-container--card--body p{
        margin:20px;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    
}


@media(min-width: 481px) and (max-width: 768px){

    .main-about-us-container--image{
        display: none;
    }

    .main-about-us-container--title h2{
        font-size: 2rem;
        line-height: 1.9rem;
        text-align: center;
    }
    .main-about-us-container--title p{
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
        text-align: center;
    }


    .main-about-us-container--button{
        left: calc(50% - 45px);
       margin-top: 10px;
    }

    .main-services-container--card--image{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
    }
    
    .main-services-container--card--body{
        margin: 0px;
    }
    .main-services-container--card--body p{
        margin:20px;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}


@media(min-width: 769px){

  
    .main-about-us-container--image{
        margin-left: 180px;
        width: 300px;
        height: 300px;
  
    }
    
    .main-about-us-container--title p{
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6rem;
        text-align: left;
    }

    .main-services-container--card--image{
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
    }
    
}